@model BO.Arme

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Arme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Samurai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Samurai.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
