@model BO.Samurai
<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Force)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Force)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arme)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Arme.Nom) - @Html.DisplayFor(model => model.Arme.Degat)
        </dd>

        <dt class = "col-sm-2">
           
        @Html.DisplayNameFor(model => model.ArtMartiaux)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                 @foreach (var art in Model.ArtMartiaux)
                {
                <li>@art.Nom</li>
                }
            </ul>
        </dd>


    <dt class="col-sm-2">
        Potentiel
    </dt>
    <dd class="col-sm-10">
        @ViewData["potentielDegat"]
    </dd>

    </dl>